<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-row>
  <form [formGroup]="myForm">
    <ion-col size-lg="12">
      <ion-item>
        <ion-label>Fecha del evento:</ion-label>
        <ion-input formControlName = "fecha" type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre de la persona</ion-label>
        <ion-input formControlName = "nombre"  type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tipo de evento</ion-label>
              <ion-select formControlName = "tipo">
                <ion-select-option value="Boda">Boda</ion-select-option>
                <ion-select-option value="Bautismo">Bautismo</ion-select-option>
                <ion-select-option value="Cumpleaños">Cumpleaños</ion-select-option>
                <ion-select-option value="Quinceañera">Quinceañera</ion-select-option>
              </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input formControlName = "cel"  type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button color="success" (click)="createEvento()" >REGISTRAR EVENTO</ion-button>
      </ion-item>
    </ion-col>
  </form>
</ion-row>
</ion-content>
